{
  "stage_name": "{{company}}",
  "coordinates": [
    {{#repeat 2}}
    {{float -50 50 '0.00'}}
    {{/repeat}}],
  "stage_image_url": "https://picsum.photos/{{int 100 2000}}/{{int 100 2000}}",
  "stage_opened_date": "{{int 1548174185 1561220585}}",
  "stage_closed_date": "{{int 1548174185 1561220585}}",
  "performances": []
}
